html,
body {
  color: var(--color-primary-text);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: var(--color-black-600);
}

body {
  overflow: hidden;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  transition: all 0s ease !important;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 4px;
}
